@font-face {
    font-family: 'cute-monster';
    src: url('fonts/CuteMonster-lg6AD.ttf');
}

@font-face {
    font-family: 'cute-halloween';
    src: url('fonts/HalloweenGuises-ZVmVJ.ttf');
}
@font-face {
    font-family: 'cute-halloween-italic';
    src: url('fonts/HalloweenGuisesItalic-EaAa4.ttf');
}
@font-face {
    font-family: 'scary-halloween';
    src: url('fonts/NightmareStory-BWV8V.ttf');
}

body {
    background-color: #000;
    min-height: 100vh;
    color: #fff;
    margin: 0 10%;
    text-shadow: 
        -1px -1px 0 #000, /* Top-left shadow */
         1px -1px 0 #000, /* Top-right shadow */
        -1px  1px 0 #000, /* Bottom-left shadow */
         1px  1px 0 #000; /* Bottom-right shadow */
}

.loading_screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    font-family: 'cute-halloween';
}

.jumbotron {
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: orange;
    color: #fff;
    padding-bottom: 20%;
}

.header {
    padding: 5%;
    font-family: 'cute-halloween';
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'cute-halloween';
}

.sub-header {
    font-family: 'cute-halloween';
}

.margin_bottom_5 {
    margin-bottom: 5%;
}
.margin_bottom_10 {
    margin-bottom: 10%;
}

#happy_halloween {
    font-family: 'scary-halloween';
    font-size: 3rem;
    animation: slideDown 120s linear forwards;
}

.bat {
    max-width: 70%;
    cursor: pointer;
    display: block;
    margin: auto;
}

#rsvp_info_row {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
}

.fricken_bats {
    width: 50px;
    height: 30px;
    background-image: url('bat_img-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
}

form button {
    width: 100%;
    padding-top: 10% !important;
    padding-bottom: 10% !important;
}

.form-group {
    margin-left: 5%;
    margin-right: 5%;
}

form .row {
    margin-bottom: 10%;
}

.center {
    text-align: center;
}

.done_section {
    margin-left: 5%;
    margin-right: 5%;
}

#done_btn {
    animation: glow 2s ease-in-out infinite;
}

.remove_font {
    text-shadow: none;
    font-size: unset;
    font-style: italic;
    text-decoration: underline;
    color: #fff;
}

@keyframes rotateBackAndForth {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}


@keyframes spooky {
    0% {
        
        color: #fff;
    }
    50% {
        color: orange;
        text-shadow: 
        -1px -1px 0 orange, /* Top-left shadow */
         1px -1px 0 orange, /* Top-right shadow */
        -1px  1px 0 orange, /* Bottom-left shadow */
         1px  1px 0 orange; /* Bottom-right shadow */
    }
    100% {
        color: #fff;
    }
}
@keyframes spooky2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes spooky3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(5);
    }
    100% {
        transform: scale(10);
    }
}

@keyframes glow {
    0% {
        background-color: #343a40;
    }
    50% {
        background-color: #595a5c;
    }
    100% {
        background-color: #343a40;
    }
}

@keyframes slideDown {
    0% {
        transform: translate(0, -100%); 
    }
    100% {
        transform: translate(0, 5000%); 
    }
}
@keyframes floatAround {
    0% {
        transform: translate(0, 0); 
    }
    12.5% {
        transform: translate(-50%, 10%); 
    }
    25% {
        transform: translate(100%, -100%); 
    }
    37.5% {
        transform: translate(50%, -100%); 
    }
    50% {
        transform: translate(50%, 100%); 
    }
    62.5% {
        transform: translate(-250%, 10%); 
    }
    75% {
        transform: translate(-50%, -1000%); 
    }
    87.5% {
        transform: translate(50%, 10%); 
    }
    100% {
        transform: translate(0, 0); 
    }
}

@keyframes flyBats {
    0% {
        transform: translate(0%, 1000%)
    }

    100% {
        transform: translate(0%, -5000%)
    }
}

#rsvp_button, #done_btn {
    font-family: 'cute-halloween';
    font-size: 2rem;
    display: block;
    animation: spooky2 2s infinite;
    margin: auto;
    text-shadow: 
        -1px -1px 0 #000, /* Top-left shadow */
         1px -1px 0 #000, /* Top-right shadow */
        -1px  1px 0 #000, /* Bottom-left shadow */
         1px  1px 0 #000; /* Bottom-right shadow */
}

.floatAround {
    animation: floatAround 10s linear;
}

.sub-header {
    animation: rotateBackAndForth 2s ease-in-out infinite; 
}

#haunting {
    animation: spooky 5s ease-in-out infinite;
}

.spooky3 {
    animation: spooky3 .5s linear forwards;
}

@media (max-width: 768px) {

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .details {
        margin-top: 20%;
        font-size: .75rem;
    }

    .header {
        padding: 20px;
    }

    #rsvp_button {
        font-size: 1.5rem;
    }

    .display-3, .display-4 {
        font-size: 1.5rem;
    }
}